.root {
    -light-coffee: #6b695f;
    -coffee: #56544c;
    -dark-coffee: #45433d;

    -purpurviolett: #4a192c;
    -purpurviolett-25p-lighter: #5d1f37;
    -purpurviolett-25p-darker: #3b1423;

    -fx-base: -coffee;
}

.combo-box {
    -fx-background-color: -purpurviolett;
}

.combo-box .list-cell {
    -fx-background-color: -purpurviolett-25p-lighter;
    -fx-text-fill: white;
}

.combo-box .list-cell:selected {
    -fx-background-color: -purpurviolett;
}

.combo-box .list-cell:hover {
    -fx-background-color: -purpurviolett;
}

.slider .thumb {
    -fx-background-color: -purpurviolett-25p-lighter;
}

.slider .track {
    -fx-background-color: -purpurviolett;
}

/*
.scroll-pane .scroll-bar {
    -fx-background-color: #4a192c;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #5d1f37;
}

.list-view .list-cell {
    -fx-background-color: #5d1f37;
    -fx-text-fill: white;
}

.list-view .list-cell:selected {
    -fx-background-color: #4a192c;
}

.list-view .list-cell:hover {
    -fx-background-color: #4a192c;
}
*/

.button {
    -fx-font-size: 12px;
    -fx-background-color: -purpurviolett;
    -fx-focus-traversable: false;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.button-fake {
    -fx-background-color: -light-coffee;
    -fx-background-radius: 5px;
}