.navigation-bar {
    -fx-pref-width: 64px;
    -fx-pref-height: 32px;
    -fx-max-width: 64px;
    -fx-max-height: 32px;
    -fx-spacing: 12px;
    -fx-padding: 6px;
    -fx-alignment: center;
    -fx-background-radius: 8px;

    -fx-background-color: #143840;
    -fx-effect: dropshadow(three-pass-box, #C444C3, 10, 0.0, 0, 5);
}

.builder-button .randomizer-button {
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}