/* Navigation Bar */
.navigation-bar {
    -fx-pref-width: 64px;
    -fx-pref-height: 32px;
    -fx-max-width: 64px;
    -fx-max-height: 32px;
    -fx-spacing: 12px;
    -fx-padding: 6px;
    -fx-alignment: center;
    -fx-background-radius: 8px;
    -fx-background-color: #213539;
    -fx-effect: dropshadow(three-pass-box, #C444C3, 10, 0.0, 0, 5);
}

.randomizer-window {
    -fx-pref-width: 704px;
    -fx-pref-height: 536px;
    -fx-background-color: #050E10;
}

.randomizer-view {
    -fx-pref-width: 688px;
    -fx-pref-height: 488px;
    -fx-min-width: 688px;
    -fx-min-height: 488px;
    -fx-padding: 8px;
}

.settings-button-hbox {
    -fx-pref-width: 688;
    -fx-pref-height: 20;
    -fx-alignment: center-right;
}

.randomizer-logbook {
    -fx-pref-width: 420px;
    -fx-pref-height: 350px;
    -fx-min-width: 420px;
    -fx-min-height: 350px;
    -fx-background-color: #0C171A;
    -fx-effect: dropshadow(three-pass-box, #C444C3, 15, 0.0, 0, 0);
}

.logbook-active-sequence {
    -fx-pref-width: 420px;
    -fx-pref-height: 20px;
    -fx-alignment: center-left;
    -fx-padding: 8px;
}

.logbook-sequence-name {
    -fx-font-family: Roboto;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: #C444C3;
}

.logbook-button-vbox {
    -fx-pref-width: 28px;
    -fx-pref-height: 398px;
    -fx-alignment: center;
}

.logbook-active-actions {
    -fx-pref-width: 398px;
    -fx-pref-height: 322px;
    -fx-padding: 0px 0px 8px 8px;
}

.logbook-buttons {
    -fx-max-width: 28px;
    -fx-max-height: 56px;
    -fx-padding: 8px;
    -fx-spacing: 12px;
    -fx-alignment: center;
    -fx-background-color: #0C171A;
    -fx-effect: innershadow(three-pass-box, #C444C3, 10, 0.0, 0, 0);
}


/* Buttons */
.builder-button, .randomizer-button, .settings-button {
    -fx-max-width: 20px;
    -fx-max-height: 20px;
}

/* Builder View */
.builder-view, .builder {
    -fx-pref-width: 688px;
    -fx-pref-height: 488px;
    -fx-min-width: 688px;
    -fx-min-height: 488px;
    -fx-alignment: center;
    -fx-background-color: #050E10;
}

.builder {
    -fx-spacing: 24px;
    -fx-padding: 0px -10px 0px 0px;
}

/* Left Bar, Actions, and Sequences */
.builder-left-bar, .builder-actions, .builder-sequences {
    -fx-pref-width: 140px;
    -fx-min-width: 140px;
    -fx-alignment: center;
    -fx-spacing: 8px;
}

.builder-actions, .builder-sequences {
    -fx-min-height: 240px;
    -fx-spacing: 6px;
    -fx-background-radius: 8px;
    -fx-background-color: #0C171A;
}

/* Top Section */
.builder-actions-top, .builder-sequences-top {
    -fx-pref-width: 140px;
    -fx-pref-height: 24px;
    -fx-alignment: center;
    -fx-spacing: 4px;
}

/* Labels */
.builder-actions-label, .builder-sequences-label, .action-focus-label {
    -fx-font-family: Roboto;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-alignment: center;
    -fx-text-fill: #DAF0F3;
    -fx-padding: 0px 4px;
}

/* Search Box and Buttons */
.builder-actions-search, .builder-sequences-buttons {
    -fx-background-radius: 8px;
    -fx-padding: 4px;
}

.builder-actions-search {
    -fx-pref-width: 82px;
    -fx-pref-height: 16px;
}

.builder-actions-searchfield {
    -fx-pref-width: 82px;
    -fx-pref-height: 16px;
    -fx-font-family: Roboto;
    -fx-font-size: 10px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-alignment: left;
    -fx-text-fill: #DAF0F3;
    -fx-background-color: #213539;
}

/* Scroll Panes */
.builder-actions-scrollpane, .builder-sequences-scrollpane {
    -fx-pref-height: 210px;
    -fx-alignment: center;
    -fx-spacing: 4px;
    -fx-padding: 4px;
    -fx-background-color: #0C171A;
}

/* Categories and Sequences Sections */
.builder-actions-categories, .builder-actions-sequences {
    -fx-spacing: 4px;
    -fx-alignment: top-center;
    -fx-background-color: #0C171A;
}

/* Sequence Buttons */
.add-sequence-button .sequence-folder-button {
    -fx-pref-width: 12px;
    -fx-pref-height: 12px;
}

/* Sequence Builder */
.sequence-builder {
    -fx-pref-width: 360px;
    -fx-pref-height: 300px;
    -fx-min-width: 360px;
    -fx-min-height: 300px;
    -fx-padding: 94px 0px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, #C444C3, 15, 0.0, 0, 0);
}

.sequence-builder-buttons-vbox, .sequence-builder-buttons {
    -fx-background-color: #0C171A;
}

.sequence-builder-buttons {
    -fx-pref-width: 28px;
    -fx-pref-height: 88px;
    -fx-padding: 6px;
    -fx-spacing: 12px;
    -fx-alignment: center;
    -fx-effect: innershadow(three-pass-box, #C444C3, 10, 0.0, 0, 0);
}

/* Sequence Naming */
.sequence-naming, .builder-selected-actions, .selected-actions-vbox {
    -fx-background-color: #0C171A;
}

.sequence-naming {
    -fx-pref-height: 46px;
    -fx-spacing: 4px;
    -fx-padding: 8px;
    -fx-alignment: center-left;
}

.sequence-name-label, .minimum-slider-label, .maximum-slider-label {
    -fx-font-family: Roboto;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: #DAF0F3;
}

.sequence-description-label, .time-frame-label, .time-frame-description, .minimum-value-label, .minimum-slider-label, .maximum-value-label, .maximum-slider-label {
    -fx-font-family: Roboto;
    -fx-font-size: 10px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: #738487;
}

.builder-selected-actions, .selected-actions-vbox {
    -fx-pref-width: 332px;
    -fx-pref-height: 272px;
}

.selected-actions-vbox {
    -fx-spacing: 4px;
    -fx-padding: 0px 0px 0px 8px;
}

.builder-selected-actions:focused, .selected-actions-vbox:focused, .builder-sequences-scrollpane:focused, .builder-actions-scrollpane:focused {
    -fx-background-insets: 0px, 1px;
    -fx-focus-traversable: false;
    -fx-focus-color: transparent;
}

/* Action Settings */
.action-settings {
    -fx-pref-width: 140px;
    -fx-min-width: 140px;
    -fx-pref-height: 488px;
    -fx-background-color: #0C171A;
    -fx-border-radius: 8px;
    -fx-alignment: top-left;
}

.action-settings-vbox {
    -fx-padding: 8px 0px;
    -fx-spacing: 4px;
}

/* Time Frame */
.time-frame {
    -fx-pref-width: 140px;
}

.time-frame-label {
    -fx-text-fill: #DAF0F3;
    -fx-padding: 0px 8px 0px 8px;
}

.time-frame-description {
    -fx-text-fill: #738487;
    -fx-padding: 0px 8px 0px 8px;
}

/* Minimum/Maximum Labels */
.minimum-label-hbox, .maximum-label-hbox {
    -fx-pref-width: 124px;
    -fx-pref-height: 12px;
    -fx-spacing: 4px;
    -fx-padding: 8px 8px 0px 8px;
}

/* Separator and Lines */
.separator, .line {
    -fx-pref-width: 140px;
    -fx-background-color: #52287E;
    -fx-border-color: #52287E;
}

/* Sliders */
.slider {
    -fx-pref-width: 124px;
    -fx-padding: 4px 8px;
}

.slider .track {
    -fx-background-color: #4F747C;
    -fx-pref-height: 2px;
}

.slider .thumb {
    -fx-background-color: #92D0DD;
    -fx-pref-width: 6px;
    -fx-pref-height: 6px;
}