.game-over {
    -fx-font-size: 48px;
    -fx-text-fill: red;
    -fx-font-weight: bold;
    /* Layout */
    -fx-alignment: center;
    -fx-padding: 10px;
    /* Position */
    -fx-translate-x: 300px;
    -fx-translate-y: 300px;
    /* Visibility */
    -fx-opacity: 0;
}

.score {
    -fx-font-size: 24px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    /* Layout */
    -fx-alignment: center;
    -fx-padding: 10px;
    /* Position */
    -fx-translate-x: 10px;
    -fx-translate-y: 10px;
}

.fps {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /* Layout */
    -fx-alignment: center;
    -fx-padding: 10px;
    /* Position */
    -fx-translate-x: 10px;
    -fx-translate-y: 40px;
}

.how-to-play {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-text-alignment: right;
    /* Layout */
    -fx-alignment: center;
    -fx-padding: 10px;
    /* Position */
    -fx-translate-x: 1080px;
    -fx-translate-y: 10px;
    /* Visibility */
    -fx-opacity: 0.4;
}

.ammo {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-text-alignment: right;
    /* Layout */
    -fx-alignment: center;
    -fx-padding: 10px;
    /* Position */
    -fx-translate-x: 1100px;
    -fx-translate-y: 500px;
}

.ammo-box {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-text-alignment: right;
    /* Layout */
    -fx-alignment: center;
    -fx-padding: 10px;
    /* Position */
    -fx-translate-x: 1100px;
    -fx-translate-y: 525px;
}

.molotov {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-text-alignment: right;
    /* Layout */
    -fx-alignment: center;
    -fx-padding: 10px;
    /* Position */
    -fx-translate-x: 1100px;
    -fx-translate-y: 550px;
}

