.test {
    -fx-background-color: #006b80;
    -fx-border-color: #f8ecc2;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}