/* Randomizer Window */
.randomizer-window {
    -fx-pref-width: 704;
    -fx-pref-height: 504;
    -fx-background-color: #D6D6F5;
}

/* Navigation Bar */
.navigation-bar {
    -fx-min-width: 48;
    -fx-pref-height: 504;
    -fx-padding: 12 0;
    -fx-spacing: 10;
    -fx-background-color: #FBFBFE;
}

.navigation-bar-home, .navigation-bar-builder, .navigation-bar-randomizer, .navigation-bar-settings {
    -fx-pref-width: 38;
    -fx-pref-height: 28;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
}

.navigation-bar-separator, .navigation-bar-separator .line {
    -fx-max-width: 27;
    -fx-pref-height: 2;
    -fx-translate-x: 7;
    -fx-border-color: null;
    -fx-background-color: #443DFF;
}

.navigation-bar-home {
    -fx-background-image: url("../images/navigationbar/homeIcon.png");
}

.navigation-bar-home:hover, .navigation-bar-home:selected {
    -fx-background-image: url("../images/navigationbar/homeIconSelected.png");
}

.navigation-bar-builder {
    -fx-background-image: url("../images/navigationbar/builderIcon.png");
}

.navigation-bar-builder:hover, .navigation-bar-builder:selected {
    -fx-background-image: url("../images/navigationbar/builderIconSelected.png");
}

.navigation-bar-randomizer {
    -fx-background-image: url("../images/navigationbar/logbookIcon.png");
}

.navigation-bar-randomizer:hover, .navigation-bar-randomizer:selected {
    -fx-background-image: url("../images/navigationbar/logbookIconSelected.png");
}

.navigation-bar-settings {
    -fx-background-image: url("../images/navigationbar/settingsIcon.png");
}

.navigation-bar-settings:hover, .navigation-bar-settings:selected {
    -fx-background-image: url("../images/navigationbar/settingsIconSelected.png");
}

/* Home View */
.home-view {
    -fx-pref-width: 656;
    -fx-pref-height: 504;
    -fx-alignment: center;
}

.home-view-image {
    -fx-pref-width: 256;
    -fx-pref-height: 256;
}

.home-view-socials-container {
    -fx-pref-width: 162;
    -fx-pref-height: 20;
    -fx-padding: 16 0;
    -fx-spacing: 16;
    -fx-alignment: center;
}

.home-view-github, .home-view-discord {
    -fx-font-family: SansSerif;
    -fx-font-size: 16;
    -fx-underline: true;
    -fx-text-fill: #A9A5F3;
}

.home-view-github {
    -fx-graphic: url("../images/homeView/githubIcon.png");
}

.home-view-github:hover {
    -fx-text-fill: #2F27CE;
    -fx-graphic: url("../images/homeView/githubIconSelected.png");
}

.home-view-discord {
    -fx-graphic: url("../images/homeView/discordIcon.png");
}

.home-view-discord:hover {
    -fx-text-fill: #2F27CE;
    -fx-graphic: url("../images/homeView/discordIconSelected.png");
}

.home-view-github:pressed, .home-view-discord:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

/* Randomizer View */
.randomizer-view {
    -fx-padding: 0 12;
}

.logbook {
    -fx-min-width: 320;
    -fx-min-height: 276;
    -fx-padding: 8 12;
    -fx-background-radius: 8;
    -fx-alignment: top-center;
    -fx-background-color: #E6E5FF;
}

.logbook-active-sequence {
    -fx-pref-width: 296;
    -fx-pref-height: 16;
    -fx-alignment: center-left;
}

.logbook-sequence-name {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #281FE0;
    -fx-graphic: url("../images/randomizerView/sequenceIcon.png");
}

.logbook-state {
    -fx-pref-width: 320;
    -fx-min-height: 32;
    -fx-alignment: center;
    -fx-padding: 0 4;
    -fx-spacing: -4;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.logbook-toggle-button {
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16;
    -fx-background-image: url("../images/randomizerView/playIcon.png");
}

.logbook-toggle-button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.logbook-toggle-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.logbook-progress-indicator {
    -fx-pref-width: 180;
    -fx-pref-height: 4;
}

.logbook-progress-indicator .track {
    -fx-pref-width: 180;
    -fx-max-height: 2;
    -fx-background-color: #847EE7;
}

.logbook-progress-indicator .bar{
    -fx-background-color: #2F27CE;
}

.logbook-active-actions {
    -fx-pref-width: 296;
    -fx-pref-height: 244;
    -fx-spacing: 6;
    -fx-padding: 0 0 8 8;
}

.logbook-sequence-actions-name {
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-text-fill: #7E78ED;
    -fx-padding: 0 3 0 15;
    -fx-background-radius: 4;
    -fx-background-color: #D6D4F7;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16;
}

.logbook-sequence-actions-name:hover {
    -fx-text-fill: #281FE0;
}

.logbook-sequence-actions-name-start {
    -fx-background-image: url("../images/randomizerView/startingActionIcon.png");
}

.logbook-sequence-actions-name-start-active {
    -fx-background-image: url("../images/randomizerView/startingActionIconActive.png");
}

.logbook-sequence-actions-name-middle {
    -fx-background-image: url("../images/randomizerView/middleActionIcon.png");
}

.logbook-sequence-actions-name-middle-active {
    -fx-background-image: url("../images/randomizerView/middleActionIconActive.png");
}

.logbook-sequence-actions-name-end {
    -fx-background-image: url("../images/randomizerView/finalActionIcon.png");
}

.logbook-sequence-actions-name-end-active {
    -fx-background-image: url("../images/randomizerView/finalActionIconActive.png");
}

.logbook-info {
    -fx-pref-width: 276;
    -fx-pref-height: 100;
    -fx-spacing: 12;
}

.logbook-sequence-interval {
    -fx-pref-width: 276;
    -fx-pref-height: 100;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
    -fx-spacing: 6;
    -fx-padding: 6 8;
}

.logbook-sequence-interval-label, .logbook-history-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
}

.logbook-descriptions {
    -fx-pref-height: 12;
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #A9A5F3;
}

.range-slider {
    -fx-pref-width: 2000;
    -fx-pref-height: 12;
    -fx-padding: 8 2;
}

.range-slider-sequence-interval {
    -fx-spacing: 4;
}

.range-slider-sequence-interval .track {
    -fx-background-color: #847EE7;
    -fx-pref-height: 4;
}

.range-slider-sequence-interval .range-bar {
    -fx-background-color: #2F27CE;
    -fx-pref-height: 4;
}

.range-slider-sequence-interval .high-thumb, .range-slider-sequence-interval .low-thumb {
    -fx-background-color: #2F27CE;
    -fx-background-radius: 4;
    -fx-pref-width: 8;
    -fx-pref-height: 8;
}

.range-slider-sequence-interval .high-thumb:hover, .range-slider-sequence-interval .low-thumb:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.settings-apply-button-container {
    -fx-pref-width: 84;
    -fx-pref-height: 20;
    -fx-alignment: center-right;
}

.settings-apply-button {
    -fx-pref-width: 75;
    -fx-pref-height: 20;
    -fx-text-fill: #EAE9FC;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-background-color: #443DFF;
}

.settings-apply-button:hover {
    -fx-effect: innershadow(gaussian, #3A33FF, 10, 0.5, 0, 1);
}

.settings-apply-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.logbook-sequence-history {
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
    -fx-spacing: 4;
    -fx-padding: 8 6;
}

.logbook-history-scrollpane {
    -fx-background-color: #E6E5FF;
}

.logbook-history-content {
    -fx-pref-width: 260;
    -fx-pref-height: 158;
    -fx-spacing: 6;
    -fx-background-color: #E6E5FF;
}

.logbook-history-scrollpane .scroll-bar:vertical {
    -fx-pref-width: 4;
    -fx-background-color: transparent;
}

.logbook-history-scrollpane .scroll-bar:vertical .track {
    -fx-background-color: #847EE7;
    -fx-background-radius: 2;
}

.logbook-history-scrollpane .scroll-bar:vertical .thumb {
    -fx-background-color: #2F27CE;
    -fx-background-radius: 2;
    -fx-pref-width: 4;
}

.logbook-history-scrollpane .scroll-bar:vertical .increment-button,
.logbook-history-scrollpane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.logbook-history-entry-container {
    -fx-pref-width: 252;
    -fx-max-height: 22;
    -fx-padding: 4;
    -fx-background-color: #D6D6F5;
}

.logbook-history-entry-name {
    -fx-pref-width: 220;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #7E78ED;
    -fx-padding: 4;
}

.logbook-history-entry-rightbox {
    -fx-pref-width: 32;
    -fx-spacing: 4;
    -fx-alignment: center-right;
}

.logbook-history-entry-action-count, .logbook-history-entry-executed-at {
    -fx-alignment: bottom-right;
    -fx-font-family: SansSerif;
    -fx-font-size: 8;
    -fx-text-fill: #A9A5F3;
}

/* Builder View */
.builder-sequences {
    -fx-min-width: 128;
    -fx-pref-height: 504;
    -fx-alignment: top-center;
    -fx-background-color: #EBEBFA;
}

.builder-sequences-top {
    -fx-pref-width: 128;
    -fx-min-height: 24;
    -fx-alignment: center;
}

.builder-sequences-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-alignment: center;
    -fx-text-fill: #040316;
    -fx-padding: 0 4;
}

.builder-sequences-buttons {
    -fx-pref-width: 34;
    -fx-alignment: center-right;
    -fx-spacing: 6;
    -fx-padding: 4 4 0 0;
}

.builder-sequences-add-sequence-button, .builder-sequences-folder-button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.builder-sequences-folder-button {
    -fx-background-size: 14;
    -fx-min-height: 14;
    -fx-max-height: 14;
    -fx-background-image: url("../images/builderView/folderIcon.png");
}

.builder-sequences-folder-button:hover {
    -fx-background-image: url("../images/builderView/folderIconSelected.png");
}

.builder-sequences-add-sequence-button {
    -fx-background-size: 12;
    -fx-min-height: 12;
    -fx-max-height: 12;
    -fx-background-image: url("../images/builderView/addIcon.png");
}

.builder-sequences-add-sequence-button:hover {
    -fx-background-image: url("../images/builderView/addIconSelected.png");
}

.builder-separator, .builder-separator .line {
    -fx-pref-width: 128;
    -fx-pref-height: 1;
    -fx-background-color: #6B66FF;
    -fx-border-color: null;
}

.builder-sequences-scrollpane {
    -fx-pref-width: 128;
    -fx-alignment: center;
    -fx-spacing: 4;
    -fx-padding: 6 0;
    -fx-background-color: #EBEBFA;
}

.builder-actions-sequences {
    -fx-pref-width: 128;
    -fx-spacing: 4;
    -fx-alignment: top-center;
    -fx-background-color: #EBEBFA;
}

.builder-sequences-hbox {
    -fx-spacing: 4;
    -fx-alignment: center;
    -fx-padding: 4;
    -fx-background-color: #DDDBFF;
}

.builder-sequences-hbox:hover {
    -fx-background-color: #9E99FF;
}

.builder-sequences-title {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
}

.builder-sequences-delete-button {
    -fx-min-height: 12;
    -fx-max-height: 12;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/builderView/deleteIcon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 12;
}

.builder-sequences-delete-button:hover {
    -fx-background-image: url("../images/builderView/deleteIconSelected.png");
}

/* Builder Actions View */
.actions-selector {
    -fx-pref-width: 504;
    -fx-pref-height: 148;
    -fx-background-radius: 8;
    -fx-alignment: center;
    -fx-background-color: #E6E5FF;
}

.actions-categories {
    -fx-pref-width: 504;
    -fx-pref-height: 22;
    -fx-spacing: 6;
    -fx-padding: 4 12 4 0;
    -fx-alignment: center;
}

.actions-category {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #7E78ED;
    -fx-background-color: transparent;
}

.actions-category:hover, .actions-category:selected {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #3129D6;
    -fx-background-color: transparent;
}

.actions-category:selected {
    -fx-underline: true;
}

.actions-category-searchfield {
    -fx-pref-width: 152;
    -fx-pref-height: 14;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-prompt-text-fill: #A9A5F3;
    -fx-text-fill: #3129D6;
    -fx-background-radius: 4;
    -fx-background-color: #D6D6F5;
}

.actions-container {
    -fx-pref-width: 480;
    -fx-pref-height: 126;
    -fx-alignment: center;
    -fx-hgap: 12;
    -fx-vgap: 12;
    -fx-padding: 12 8;
}

.builder-actions-title {
    -fx-padding: 0 3;
    -fx-background-radius: 4;
    -fx-background-color: #D6D4F7;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #7E78ED;
}

/* Builder Editor View */
.builder-content {
    -fx-pref-width: 504;
    -fx-pref-height: 320;
    -fx-padding: 12;
}

.builder-settings-holder {
    -fx-pref-width: 172;
    -fx-pref-height: 320;
    -fx-alignment: center;
    -fx-spacing: 12;
}

.builder-sequence-settings {
    -fx-pref-width: 172;
    -fx-pref-height: 184;
    -fx-padding: 6 8;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.builder-sequence-settings-container, .builder-settings-sequence-title-vbox, .action-time-frame-vbox {
    -fx-pref-width: 156;
    -fx-spacing: 6;
}

.sequence-in-focus-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-alignment: left;
    -fx-text-fill: #040316;
}

.builder-settings-separator, .builder-settings-separator .line {
    -fx-pref-width: 156;
    -fx-pref-height: 1;
    -fx-background-color: #9C99FF;
    -fx-border-color: null;
}

.builder-settings-sequence-title, .builder-settings-sequence-description {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
}

.builder-settings-title-textfield {
    -fx-pref-width: 156;
    -fx-pref-height: 16;
    -fx-padding: 0 3;
    -fx-background-radius: 4;
    -fx-background-color: #D6D4F7;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #A9A5F3;
}

.builder-sequence-settings-separator, .builder-sequence-settings-separator .line {
    -fx-pref-width: 156;
    -fx-pref-height: 1;
    -fx-background-color: #CECCFF;
    -fx-border-color: null;
}

.builder-settings-description-textfield {
    -fx-pref-width: 156;
    -fx-pref-height: 64;
    -fx-background-radius: 4;
    -fx-background-color: #D6D4F7;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #A9A5F3;
}

.builder-settings-description-textfield .content {
    -fx-background-radius: 0;
    -fx-padding: 0 3;
    -fx-background-color: #D6D4F7;
}

.builder-settings-description-textfield .scroll-bar:vertical {
    -fx-pref-width: 8;
    -fx-background-color: transparent;
}

.builder-settings-description-textfield .scroll-bar:vertical .increment-button,
.builder-settings-description-textfield .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}



.builder-action-settings {
    -fx-pref-width: 172;
    -fx-pref-height: 124;
    -fx-padding: 6 8;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.sequence-builder {
    -fx-pref-width: 320;
    -fx-pref-height: 320;
    -fx-alignment: center;
    -fx-padding: 8 12;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.sequence-naming-container {
    -fx-pref-width: 296;
    -fx-pref-height: 30;
}

.sequence-naming {
    -fx-pref-width: 148;
    -fx-alignment: center-left;
    -fx-spacing: 4;
}

.sequence-name-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
    -fx-graphic: url("../images/builderEditorView/sequenceIcon.png");
}

.sequence-description-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #A9A5F3;
}

.sequence-builder-buttons {
    -fx-pref-width: 76;
    -fx-max-height: 16;
    -fx-spacing: 8;
    -fx-alignment: top-right;
}

.builder-buttons-separator, .builder-buttons-separator .line {
    -fx-pref-width: 1;
    -fx-pref-height: 16;
    -fx-background-color: #6B66FF;
    -fx-border-color: null;
}

.builder-randomize-button, .builder-save-sequence-button {
    -fx-min-width: 16;
    -fx-min-height: 16;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 16;
}

.builder-randomize-button {
    -fx-background-image: url("../images/builderEditorView/randomizeIcon.png");
}

.builder-randomize-button:hover {
    -fx-background-image: url("../images/builderEditorView/randomizeIconSelected.png");
}

.builder-save-sequence-button {
    -fx-background-image: url("../images/builderEditorView/saveIcon.png");
}

.builder-save-sequence-button:hover {
    -fx-background-image: url("../images/builderEditorView/saveIconSelected.png");
}

.builder-actions-clear-button {
    -fx-min-width: 21;
    -fx-min-height: 16;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 21 16;
    -fx-background-image: url("../images/builderEditorView/clearIcon.png");
}

.builder-actions-clear-button:hover {
    -fx-background-image: url("../images/builderEditorView/clearIconSelected.png");
}

.builder-selected-actions-scrollpane {
    -fx-pref-width: 312;
    -fx-pref-height: 272;
    -fx-background-color: #E6E5FF;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical {
    -fx-pref-width: 8;
    -fx-background-color: transparent;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .track {
    -fx-background-color: #847EE7;
    -fx-background-radius: 4;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .thumb {
    -fx-background-color: #2F27CE;
    -fx-background-radius: 4;
    -fx-pref-width: 8;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .increment-button,
.builder-selected-actions-scrollpane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.builder-selected-actions-vbox {
    -fx-pref-width: 296;
    -fx-pref-height: 244;
    -fx-spacing: 6;
    -fx-padding: 6 0;
    -fx-background-color: #E6E5FF;
}

.builder-actions-scrollpane:focused, .builder-sequences-scrollpane:focused, .builder-selected-actions-scrollpane:focused {
    -fx-background-insets: 0, 1;
    -fx-focus-traversable: false;
    -fx-focus-color: transparent;
}




/* Action - Title - Description - Settings */
.settings-close-button {
    -fx-background-color: red;
}

.settings-close-button:hover {
    -fx-background-color: blue;
}

.action-in-focus-label, .description-in-focus-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
    -fx-text-fill: #040316;
    -fx-padding: 0px 8px;
}

.time-frame-label {
    -fx-text-fill: #040316;
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
}

/*.range-slider {*/
/*    -fx-pref-width: 124px;*/
/*    -fx-pref-height: 24px;*/
/*    -fx-padding: 8px 6px;*/
/*}*/

.range-slider-action-interval .track {
    -fx-background-color: #4F747C;
    -fx-pref-height: 4px;
}

.range-slider-action-interval .range-bar {
    -fx-background-color: #92D0DD;
    -fx-pref-height: 4px;
}

.range-slider-action-interval .high-thumb, .range-slider-action-interval .low-thumb {
    -fx-background-color: #92D0DD;
    -fx-background-radius: 4px;
    -fx-pref-width: 8px;
    -fx-pref-height: 8px;
}

.range-slider-action-interval .high-thumb:hover, .range-slider-action-interval .low-thumb:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.settings-description {
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: #738487;
}

.settings-reset-button {
    -fx-background-color: red;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
}

.settings-reset-button:hover {
    -fx-background-color: blue;
}

.settings-reset-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}


/* Rangeslider Labels */
.rangeslider-min-label, .rangeslider-max-label {
    -fx-min-width: 32;
    -fx-min-height: 12;
    -fx-background-radius: 4;
    -fx-background-color: #D6D6F5;
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #040316;
    -fx-alignment: center;
}

.rangeslider-up-button, .rangeslider-down-button {
    -fx-min-width: 8;
    -fx-min-height: 8;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 8 8;
}

.rangeslider-up-button {
    -fx-background-image: url("../images/randomizerView/arrowUpIcon.png");
}

.rangeslider-up-button:pressed, .rangeslider-up-button:hover {
    -fx-background-image: url("../images/randomizerView/arrowUpIconSelected.png");
}

.rangeslider-down-button {
    -fx-background-image: url("../images/randomizerView/arrowDownIcon.png");
}

.rangeslider-down-button:pressed, .rangeslider-down-button:hover {
    -fx-background-image: url("../images/randomizerView/arrowDownIconSelected.png");
}

.tooltip {
    -fx-padding: 0 4;
    -fx-background-radius: 4;
    -fx-background-color: #D6D6F5;
    -fx-text-fill: #2018B4;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
}