/* Randomizer Window */
.randomizer-window {
    -fx-pref-width: 704;
    -fx-pref-height: 504;
    -fx-background-color: #D6D6F5;
}

/* Navigation Bar */
.navigation-bar {
    -fx-min-width: 48;
    -fx-pref-height: 504;
    -fx-padding: 12 0;
    -fx-spacing: 12;
    -fx-background-color: #FBFBFE;
}

.navigation-bar-home, .navigation-bar-builder, .navigation-bar-randomizer, .navigation-bar-settings {
    -fx-pref-width: 38;
    -fx-pref-height: 28;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-cursor: hand;
}

.navigation-bar-home {
    -fx-background-image: url("../images/navigationbar/homeIcon.png");
}

.navigation-bar-home:hover, .navigation-bar-home:selected {
    -fx-background-image: url("../images/navigationbar/homeIconSelected.png");
}

.navigation-bar-builder {
    -fx-background-image: url("../images/navigationbar/builderIcon.png");
}

.navigation-bar-builder:hover, .navigation-bar-builder:selected {
    -fx-background-image: url("../images/navigationbar/builderIconSelected.png");
}

.navigation-bar-randomizer {
    -fx-background-image: url("../images/navigationbar/logbookIcon.png");
}

.navigation-bar-randomizer:hover, .navigation-bar-randomizer:selected {
    -fx-background-image: url("../images/navigationbar/logbookIconSelected.png");
}

.navigation-bar-settings {
    -fx-background-image: url("../images/navigationbar/settingsIcon.png");
}

.navigation-bar-settings:hover, .navigation-bar-settings:selected {
    -fx-background-image: url("../images/navigationbar/settingsIconSelected.png");
}

.navigation-bar-update-indicator {
    -fx-pref-width: 34;
    -fx-pref-height: 20;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-image: url("../images/navigationbar/updateIndicatorIcon.png");
    -fx-cursor: hand;
}

.navigation-bar-update-indicator:hover {
    -fx-background-image: url("../images/navigationbar/updateIndicatorIconSelected.png");
}

.navigation-bar-update-indicator:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.navigation-bar-separator, .navigation-bar-separator .line {
    -fx-max-width: 27;
    -fx-pref-height: 2;
    -fx-translate-x: 7;
    -fx-border-color: null;
    -fx-background-color: #443DFF;
}

/* Home View */
.home-view {
    -fx-pref-width: 656;
    -fx-pref-height: 504;
    -fx-alignment: center;
}

.home-view-image {
    -fx-pref-width: 256;
    -fx-pref-height: 256;
}

.home-view-socials-container {
    -fx-pref-width: 162;
    -fx-pref-height: 20;
    -fx-padding: 16 0;
    -fx-spacing: 16;
    -fx-alignment: center;
}

.home-view-github, .home-view-discord {
    -fx-font-family: SansSerif;
    -fx-font-size: 16;
    -fx-underline: true;
    -fx-text-fill: #A9A5F3;
    -fx-cursor: hand;
}

.home-view-github {
    -fx-graphic: url("../images/homeView/githubIcon.png");
}

.home-view-github:hover {
    -fx-text-fill: #2F27CE;
    -fx-graphic: url("../images/homeView/githubIconSelected.png");
}

.home-view-discord {
    -fx-graphic: url("../images/homeView/discordIcon.png");
}

.home-view-discord:hover {
    -fx-text-fill: #2F27CE;
    -fx-graphic: url("../images/homeView/discordIconSelected.png");
}

.home-view-github:pressed, .home-view-discord:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

/* Randomizer View */
.randomizer-view {
    -fx-padding: 0 12;
}

.logbook {
    -fx-min-width: 320;
    -fx-min-height: 276;
    -fx-padding: 8 12;
    -fx-background-radius: 8;
    -fx-alignment: top-center;
    -fx-background-color: #E6E5FF;
}

.logbook-active-sequence {
    -fx-pref-width: 296;
    -fx-pref-height: 16;
    -fx-alignment: center-left;
}

.logbook-sequence-name {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #281FE0;
    -fx-graphic: url("../images/randomizerView/sequenceIcon.png");
}

.logbook-state, .logbook-state-awaiting {
    -fx-pref-width: 320;
    -fx-min-height: 32;
    -fx-alignment: center;
    -fx-spacing: 24;
    -fx-padding: 6 4;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.logbook-state-awaiting {
    -fx-effect: innershadow(gaussian, #E37400, 12, 0.2, 0, 0);
}

.logbook-state-indicator {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #E37400;
    -fx-background-color: transparent;
}

.logbook-toggle-button {
    -fx-pref-width: 20;
    -fx-min-height: 20;
    -fx-max-height: 20;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 20;
    -fx-background-image: url("../images/randomizerView/playIcon.png");
    -fx-cursor: hand;
}

.logbook-toggle-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.logbook-toggle-button:selected {
    -fx-background-image: url("../images/randomizerView/pauseIcon.png");
}

.logbook-active-actions {
    -fx-pref-width: 296;
    -fx-pref-height: 244;
    -fx-spacing: 6;
    -fx-padding: 8 0;
}

.logbook-sequence-actions-name {
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-text-fill: #7E78ED;
    -fx-padding: 0 3 0 15;
    -fx-background-radius: 4;
    -fx-background-color: #D6D4F7;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 14;
}

.logbook-sequence-actions-name:hover {
    -fx-text-fill: #281FE0;
}

.logbook-sequence-actions-name-start {
    -fx-background-image: url("../images/randomizerView/startingActionIcon.png");
}

.logbook-sequence-actions-name-start-active {
    -fx-background-image: url("../images/randomizerView/startingActionIconActive.png");
}

.logbook-sequence-actions-name-middle {
    -fx-background-image: url("../images/randomizerView/middleActionIcon.png");
}

.logbook-sequence-actions-name-middle-active {
    -fx-background-image: url("../images/randomizerView/middleActionIconActive.png");
}

.logbook-sequence-actions-name-end {
    -fx-background-image: url("../images/randomizerView/finalActionIcon.png");
}

.logbook-sequence-actions-name-end-active {
    -fx-background-image: url("../images/randomizerView/finalActionIconActive.png");
}

.logbook-info {
    -fx-pref-width: 276;
    -fx-pref-height: 100;
    -fx-spacing: 12;
}

.logbook-history-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
}

.logbook-descriptions {
    -fx-pref-height: 12;
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #A9A5F3;
}

.range-slider {
    -fx-pref-width: 450;
    -fx-pref-height: 12;
    -fx-padding: 8 2;
}

.range-slider-sequence-interval, .range-slider-action-interval {
    -fx-pref-height: 20;
    -fx-spacing: 4;
}

.range-slider-sequence-interval .track, .range-slider-action-interval .track {
    -fx-background-color: #847EE7;
    -fx-pref-height: 4;
}

.range-slider-sequence-interval .range-bar, .range-slider-action-interval .range-bar {
    -fx-background-color: #2F27CE;
    -fx-pref-height: 4;
}

.range-slider-sequence-interval .high-thumb, .range-slider-sequence-interval .low-thumb,
.range-slider-action-interval .high-thumb, .range-slider-action-interval .low-thumb {
    -fx-background-color: #2F27CE;
    -fx-background-radius: 4;
    -fx-pref-width: 8;
    -fx-pref-height: 8;
    -fx-cursor: hand;
}

.range-slider-sequence-interval .high-thumb:hover, .range-slider-sequence-interval .low-thumb:hover,
.range-slider-action-interval .high-thumb:hover, .range-slider-action-interval .low-thumb:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.settings-apply-button-container {
    -fx-pref-width: 84;
    -fx-pref-height: 20;
    -fx-alignment: bottom-right;
}

.settings-apply-button {
    -fx-pref-width: 75;
    -fx-pref-height: 20;
    -fx-text-fill: #EAE9FC;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-background-color: #443DFF;
    -fx-cursor: hand;
}

.settings-apply-button:hover {
    -fx-effect: innershadow(gaussian, #3A33FF, 10, 0.5, 0, 1);
}

.settings-apply-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-cursor: hand;
}

.logbook-sequence-history {
    -fx-pref-height: 320;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
    -fx-spacing: 4;
    -fx-padding: 8 6;
}

.logbook-history-scrollpane {
    -fx-background-color: #E6E5FF;
}

.logbook-history-content {
    -fx-pref-width: 260;
    -fx-pref-height: 268;
    -fx-spacing: 6;
    -fx-background-color: #E6E5FF;
}

.logbook-history-scrollpane .scroll-bar:vertical {
    -fx-pref-width: 4;
    -fx-padding: -4 0;
    -fx-background-color: transparent;
}

.logbook-history-scrollpane .scroll-bar:vertical .track {
    -fx-background-radius: 2;
    -fx-background-color: #847EE7;
}

.logbook-history-scrollpane .scroll-bar:vertical .thumb {
    -fx-background-radius: 2;
    -fx-background-insets: 0;
    -fx-background-color: #2F27CE;
}

.logbook-history-scrollpane .scroll-bar:vertical .increment-button,
.logbook-history-scrollpane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.logbook-history-entry-container {
    -fx-pref-width: 252;
    -fx-max-height: 22;
    -fx-padding: 4;
    -fx-background-color: #D6D6F5;
}

.logbook-history-entry-name {
    -fx-pref-width: 220;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #7E78ED;
    -fx-padding: 4;
}

.logbook-history-entry-rightbox {
    -fx-min-width: 32;
    -fx-spacing: 4;
    -fx-alignment: center-right;
}

.logbook-history-entry-action-count, .logbook-history-entry-executed-at {
    -fx-alignment: bottom-right;
    -fx-font-family: SansSerif;
    -fx-font-size: 8;
    -fx-text-fill: #100C5A;
}

.logbook-history-entry-action-count {
    -fx-pref-width: 12;
}

/* Builder View */
.builder-sequences {
    -fx-min-width: 128;
    -fx-pref-height: 504;
    -fx-alignment: top-center;
    -fx-background-color: #EBEBFA;
}

.builder-sequences-top {
    -fx-pref-width: 128;
    -fx-min-height: 24;
    -fx-alignment: center;
}

.builder-sequences-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-alignment: center;
    -fx-text-fill: #040316;
    -fx-padding: 0 4;
}

.builder-sequences-buttons {
    -fx-pref-width: 34;
    -fx-alignment: center-right;
    -fx-spacing: 6;
    -fx-padding: 4 4 0 0;
}

.builder-sequences-add-sequence-button, .builder-sequences-folder-button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.builder-sequences-folder-button {
    -fx-background-size: 14;
    -fx-min-height: 14;
    -fx-max-height: 14;
    -fx-background-image: url("../images/builderView/folderIcon.png");
    -fx-cursor: hand;
}

.builder-sequences-folder-button:hover {
    -fx-background-image: url("../images/builderView/folderIconSelected.png");
}

.builder-sequences-add-sequence-button {
    -fx-background-size: 12;
    -fx-min-height: 12;
    -fx-max-height: 12;
    -fx-background-image: url("../images/builderView/addIcon.png");
    -fx-cursor: hand;
}

.builder-sequences-add-sequence-button:hover {
    -fx-background-image: url("../images/builderView/addIconSelected.png");
}

.builder-separator, .builder-separator .line {
    -fx-pref-width: 128;
    -fx-pref-height: 1;
    -fx-background-color: #CECCFF;
    -fx-border-color: null;
}

.builder-sequences-scrollpane {
    -fx-pref-width: 128;
    -fx-alignment: center;
    -fx-spacing: 4;
    -fx-padding: 6 0;
    -fx-background-color: #EBEBFA;
}

.builder-sequences-scrollpane .scroll-bar:vertical {
    -fx-pref-width: 4;
    -fx-padding: -4 0;
    -fx-background-color: transparent;
}

.builder-sequences-scrollpane .scroll-bar:vertical .track {
    -fx-background-radius: 2;
    -fx-background-color: #847EE7;
}

.builder-sequences-scrollpane .scroll-bar:vertical .thumb {
    -fx-background-radius: 2;
    -fx-background-insets: 0;
    -fx-background-color: #2F27CE;
    -fx-pref-width: 4;
}

.builder-sequences-scrollpane .scroll-bar:vertical .increment-button,
.builder-sequences-scrollpane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.builder-actions-sequences {
    -fx-pref-width: 128;
    -fx-spacing: 4;
    -fx-alignment: top-center;
    -fx-background-color: #EBEBFA;
}

.builder-sequences-hbox {
    -fx-spacing: 4;
    -fx-alignment: center;
    -fx-padding: 4;
    -fx-background-color: #DDDBFF;
}

.builder-sequences-hbox:hover {
    -fx-background-color: #9E99FF;
}

.builder-sequences-hbox-selected {
    -fx-spacing: 4;
    -fx-alignment: center;
    -fx-padding: 4;
    -fx-background-color: #9E99FF;
    -fx-cursor: hand;
}

.builder-sequences-title {
    -fx-max-width: 80;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
}

.builder-sequences-delete-button {
    -fx-min-height: 12;
    -fx-max-height: 12;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/builderView/deleteIcon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 12;
    -fx-cursor: hand;
}

.builder-sequences-delete-button:hover {
    -fx-background-image: url("../images/builderView/deleteIconSelected.png");
}

/* Builder Actions View */

/* Pseudo Class */
.text-field:empty {
    -fx-alignment: center;
}

.text-field:empty:focused {
    -fx-alignment: center-left;
}

.actions-selector {
    -fx-pref-width: 504;
    -fx-pref-height: 148;
    -fx-background-radius: 8;
    -fx-alignment: center;
    -fx-background-color: #E6E5FF;
}

.actions-categories {
    -fx-pref-width: 504;
    -fx-pref-height: 22;
    -fx-spacing: 6;
    -fx-padding: 4 12 4 0;
    -fx-alignment: center;
}

.actions-category {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #7E78ED;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.actions-category:hover, .actions-category:selected {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #3129D6;
    -fx-background-color: transparent;
}

.actions-category:selected {
    -fx-underline: true;
}

.actions-category-searchfield {
    -fx-pref-width: 152;
    -fx-pref-height: 14;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-prompt-text-fill: #A9A5F3;
    -fx-text-fill: #3129D6;
    -fx-background-radius: 4;
    -fx-background-color: #D6D6F5;
}

.actions-container {
    -fx-pref-width: 480;
    -fx-pref-height: 126;
    -fx-alignment: center;
    -fx-hgap: 12;
    -fx-vgap: 12;
    -fx-padding: 12 8;
}

.builder-actions-title {
    -fx-padding: 0 3;
    -fx-background-radius: 4;
    -fx-background-color: #D6D4F7;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #7E78ED;
}

/* Builder Editor View */
.builder-content {
    -fx-pref-width: 504;
    -fx-pref-height: 320;
    -fx-padding: 12;
}

.builder-settings-holder {
    -fx-pref-width: 192;
    -fx-pref-height: 320;
    -fx-alignment: center;
    -fx-spacing: 12;
}

.builder-sequence-settings {
    -fx-pref-width: 192;
    -fx-pref-height: 184;
    -fx-padding: 6 8;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.builder-sequence-settings-container, .builder-settings-sequence-title-vbox, .action-time-frame-vbox {
    -fx-pref-width: 176;
    -fx-spacing: 6;
}

.sequence-in-focus-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-alignment: left;
    -fx-text-fill: #040316;
}

.builder-settings-separator, .builder-settings-separator .line {
    -fx-pref-width: 176;
    -fx-pref-height: 1;
    -fx-background-color: #9C99FF;
    -fx-border-color: null;
}

.builder-settings-sequence-title, .builder-settings-sequence-description {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
}

.builder-settings-title-textfield {
    -fx-pref-width: 176;
    -fx-pref-height: 16;
    -fx-padding: 0 3;
    -fx-background-radius: 4;
    -fx-background-color: #D6D4F7;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #534BE7;
}

.builder-sequence-settings-separator, .builder-sequence-settings-separator .line {
    -fx-pref-width: 176;
    -fx-pref-height: 1;
    -fx-background-color: #CECCFF;
    -fx-border-color: null;
}

.builder-settings-description-textfield {
    -fx-pref-width: 176;
    -fx-pref-height: 64;
    -fx-background-radius: 4;
    -fx-background-color: #D6D4F7;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #534BE7;
}

.builder-settings-description-textfield .content {
    -fx-background-radius: 0;
    -fx-padding: 0 3;
    -fx-background-color: #D6D4F7;
}

.builder-settings-description-textfield .scroll-bar:vertical {
    -fx-pref-width: 4;
    -fx-padding: -4 0;
    -fx-background-color: transparent;
}

.builder-settings-description-textfield .scroll-bar:vertical .increment-button,
.builder-settings-description-textfield .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.builder-action-settings {
    -fx-pref-width: 192;
    -fx-pref-height: 124;
    -fx-padding: 6 8;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.builder-action-settings-container {
    -fx-pref-width: 176;
    -fx-spacing: 6;
}

.action-in-focus-label, .builder-actions-settings-duration {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
}

.builder-action-settings-duration-vbox {
    -fx-spacing: 6;
}

.builder-actions-settings-description {
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #A9A5F3;
}

.settings-reset-button {
    -fx-pref-width: 16;
    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 16;
    -fx-background-image: url("../images/actionSettings/resetIcon.png");
    -fx-cursor: hand;
}

.settings-reset-button:hover {
    -fx-background-image: url("../images/actionSettings/resetIconSelected.png");
}

.settings-reset-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.sequence-builder {
    -fx-pref-width: 300;
    -fx-pref-height: 320;
    -fx-alignment: center;
    -fx-padding: 8 12;
    -fx-background-radius: 8;
    -fx-background-color: #E6E5FF;
}

.sequence-naming-container {
    -fx-pref-width: 276;
    -fx-pref-height: 30;
}

.sequence-naming {
    -fx-alignment: center-left;
    -fx-spacing: 4;
}

.sequence-name-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
    -fx-graphic: url("../images/builderEditorView/sequenceIcon.png");
}

.sequence-description-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #A9A5F3;
}

.sequence-builder-buttons {
    -fx-pref-width: 76;
    -fx-max-height: 16;
    -fx-spacing: 8;
    -fx-alignment: top-right;
}

.builder-buttons-separator, .builder-buttons-separator .line {
    -fx-pref-width: 1;
    -fx-pref-height: 16;
    -fx-background-color: #6B66FF;
    -fx-border-color: null;
}

.builder-randomize-button, .builder-save-sequence-button {
    -fx-min-width: 16;
    -fx-min-height: 16;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 16;
    -fx-cursor: hand;
}

.builder-randomize-button {
    -fx-background-image: url("../images/builderEditorView/randomizeIcon.png");
}

.builder-randomize-button:hover {
    -fx-background-image: url("../images/builderEditorView/randomizeIconSelected.png");
}

.builder-save-sequence-button {
    -fx-background-image: url("../images/builderEditorView/saveIcon.png");
}

.builder-save-sequence-button:hover {
    -fx-background-image: url("../images/builderEditorView/saveIconSelected.png");
}

.builder-actions-clear-button {
    -fx-min-width: 21;
    -fx-min-height: 16;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 21 16;
    -fx-background-image: url("../images/builderEditorView/clearIcon.png");
    -fx-cursor: hand;
}

.builder-actions-clear-button:hover {
    -fx-background-image: url("../images/builderEditorView/clearIconSelected.png");
}

.builder-selected-actions-scrollpane {
    -fx-pref-width: 312;
    -fx-pref-height: 272;
    -fx-background-color: #E6E5FF;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical {
    -fx-pref-width: 4;
    -fx-padding: -4 0;
    -fx-background-color: transparent;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .track {
    -fx-background-color: #847EE7;
    -fx-background-radius: 2;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .thumb {
    -fx-background-color: #2F27CE;
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-pref-width: 4;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .increment-button,
.builder-selected-actions-scrollpane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.builder-selected-actions-vbox {
    -fx-pref-width: 276;
    -fx-pref-height: 244;
    -fx-spacing: 6;
    -fx-padding: 6 0;
    -fx-background-color: #E6E5FF;
}

.builder-actions-scrollpane:focused, .builder-sequences-scrollpane:focused, .builder-selected-actions-scrollpane:focused {
    -fx-background-insets: 0, 1;
    -fx-focus-traversable: false;
    -fx-focus-color: transparent;
}

.builder-config-indicator {
    -fx-pref-width: 162;
    -fx-spacing: 6;
    -fx-alignment: center;
}

.builder-filler-text {
    -fx-font-family: SansSerif;
    -fx-font-size: 16;
    -fx-text-fill: #A9A5F3;
}

.builder-config-indicator-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #A50E0E;
}

.builder-config-hyperlink {
    -fx-background-color: transparent;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #0800FF;
    -fx-cursor: hand;
}

.builder-config-hyperlink:focused {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

/* Settings View */
.settings-container {
    -fx-max-width: 632;
    -fx-pref-height: 360;
    -fx-spacing: 8;
    -fx-padding: 8 12;
    -fx-background-radius: 8;
    -fx-background-color: #EBEBFA;
}

.settings-selection {
    -fx-pref-width: 112;
    -fx-pref-height: 344;
    -fx-spacing: 8;
    -fx-alignment: top-center;
}

.settings-options {
    -fx-min-width: 112;
    -fx-pref-height: 14;
    -fx-padding: 0 0 0 6;
    -fx-alignment: center-left;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
    -fx-background-radius: 4;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.settings-options:hover, .settings-options:selected {
    -fx-background-color: #9E99FF;
}

.settings-selection-separator, .settings-selection-separator .line {
    -fx-pref-width: 1;
    -fx-pref-height: 360;
    -fx-background-color: #CECCFF;
    -fx-border-color: null;
}

.updater-settings {
    -fx-pref-width: 480;
    -fx-pref-height: 344;
    -fx-spacing: 8;
}

.settings-auto-update {
    -fx-pref-width: 480;
}

.settings-auto-update-container {
    -fx-spacing: 4;
    -fx-alignment: center-left;
}

.settings-title {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #040316;
}

.settings-description {
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #7E78ED;
}

.settings-toggle-button-container {
    -fx-pref-width: 48;
    -fx-pref-height: 16;
    -fx-alignment: center-right;
}

.settings-toggle-button {
    -fx-pref-width: 30;
    -fx-max-height: 16;
    -fx-background-radius: 8;
    -fx-padding: 1 15 1 2;
    -fx-background-color: #ADA9EF;
    -fx-background-insets: 0;
    -fx-graphic: url("../images/settingsView/uncheckIcon.png");
    -fx-cursor: hand;
}

.settings-toggle-button:selected {
    -fx-pref-width: 30;
    -fx-max-height: 16;
    -fx-background-radius: 8;
    -fx-padding: 1 2 1 15;
    -fx-background-color: #2F27CE;
    -fx-background-insets: 0;
    -fx-graphic: url("../images/settingsView/checkIcon.png");
}

.settings-separator, .settings-separator .line {
    -fx-pref-width: 480;
    -fx-pref-height: 1;
    -fx-background-color: #CECCFF;
    -fx-border-color: null;
}

.settings-update-repo {
    -fx-pref-width: 480;
    -fx-pref-height: 32;
    -fx-spacing: 4;
    -fx-alignment: center-left;
}

.settings-repo-link {
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #0800FF;
}

.settings-repo-link:hover {
    -fx-text-fill: #2F27CE;
    -fx-underline: true;
    -fx-cursor: hand;
}

.settings-check-for-update {
    -fx-pref-width: 480;
    -fx-pref-height: 58;
    -fx-spacing: 4;
    -fx-alignment: center-left;
}

.settings-check-update-button {
    -fx-pref-width: 112;
    -fx-pref-height: 20;
    -fx-padding: 3 6;
    -fx-background-radius: 4;
    -fx-text-fill: #EAE9FC;
    -fx-text-alignment: center;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-background-color: #443DFF;
    -fx-cursor: hand;
}

.settings-check-update-button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.sync-path-container {
    -fx-pref-width: 480;
    -fx-pref-height: 16;
    -fx-spacing: 4;
    -fx-alignment: center-left;
}

.sync-config-path, .sync-config-path-failed {
    -fx-min-width: 14;
    -fx-max-width: 14;
    -fx-min-height: 14;
    -fx-max-height: 14;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.sync-config-path {
    -fx-graphic: url("../images/settingsView/syncPathIcon.png");
}

.sync-config-path:hover, .sync-config-path:pressed {
    -fx-graphic: url("../images/settingsView/syncPathIconPressed.png");
}

.sync-config-path:pressed, .sync-config-path-failed:pressed, .sync-config-path-succes:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.sync-config-path-failed {
    -fx-graphic: url("../images/settingsView/syncFailedIcon.png");
}

.sync-config-path-failed:hover, .sync-config-path-failed:pressed {
    -fx-graphic: url("../images/settingsView/syncFailedIconPressed.png");
}

.sync-config-path-success {
    -fx-min-width: 16;
    -fx-max-width: 16;
    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-graphic: url("../images/settingsView/syncSuccesIcon.png");
}

.sync-config-path-succes:hover, .sync-config-path-succes:pressed {
    -fx-graphic: url("../images/settingsView/syncSuccesIconPressed.png");
}

.config-path-textfield {
    -fx-pref-width: 426;
    -fx-pref-height: 16;
    -fx-padding: 2 6;
    -fx-background-radius: 4;
    -fx-background-color: #D6D6F5;
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #9E99FF;
}

.config-folder-path {
    -fx-min-width: 16;
    -fx-max-width: 16;
    -fx-min-height: 16;
    -fx-max-height: 16;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-graphic: url("../images/settingsView/configFolderIcon.png");
}

.config-folder-path:hover, .config-folder-path:pressed {
    -fx-graphic: url("../images/settingsView/configFolderIconPressed.png");
}

.config-folder-path:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.sync-failed-indicator {
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #A50E0E;
    -fx-background-color: transparent;
}

.settings-playtime {
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
    -fx-text-fill: #7E78ED;
    -fx-background-color: transparent;
}


/* Rangeslider Labels */
.rangeslider-min-label, .rangeslider-max-label {
    -fx-min-width: 42;
    -fx-min-height: 12;
    -fx-background-radius: 4;
    -fx-background-color: #D6D6F5;
    -fx-font-family: SansSerif;
    -fx-font-size: 11;
    -fx-text-fill: #040316;
    -fx-alignment: center;
}

.rangeslider-up-button, .rangeslider-down-button {
    -fx-min-width: 8;
    -fx-min-height: 8;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 8 8;
    -fx-cursor: hand;
}

.rangeslider-up-button {
    -fx-background-image: url("../images/randomizerView/arrowUpIcon.png");
}

.rangeslider-up-button:pressed, .rangeslider-up-button:hover {
    -fx-background-image: url("../images/randomizerView/arrowUpIconSelected.png");
}

.rangeslider-down-button {
    -fx-background-image: url("../images/randomizerView/arrowDownIcon.png");
}

.rangeslider-down-button:pressed, .rangeslider-down-button:hover {
    -fx-background-image: url("../images/randomizerView/arrowDownIconSelected.png");
}

.tooltip {
    -fx-padding: 0 4;
    -fx-background-radius: 4;
    -fx-background-color: #D6D6F5;
    -fx-text-fill: #2018B4;
    -fx-font-family: SansSerif;
    -fx-font-size: 12;
}

/* Tooltip styling for user options */
.tooltip-user-options {
    -fx-padding: 4 8;
    -fx-background-radius: 6;
    -fx-background-color: #EFEFEF;
    -fx-text-fill: #333333;
    -fx-font-family: SansSerif;
    -fx-font-size: 13;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 2);
}