/* Navigation Bar */
.navigation-bar {
    -fx-max-width: 100px;
    -fx-max-height: 32px;
    -fx-spacing: 8px;
    -fx-padding: 6px;
    -fx-alignment: center;
    -fx-background-radius: 8px;
    -fx-background-color: #213539;
    -fx-effect: dropshadow(three-pass-box, #C444C3, 10, 0.0, 0, 5);
}

.navigation-bar-home, .navigation-bar-builder, .navigation-bar-randomizer {
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}

.navigation-bar-separator, .navigation-bar-separator .line {
    -fx-background-color: #4F747C;
    -fx-pref-height: 36px;
    -fx-pref-width: 2px;
    -fx-border-color: null;
}

.navigation-bar-home {
    -fx-background-image: url("../images/homeIcon.png");
}

.navigation-bar-home:hover, .navigation-bar-home:selected {
    -fx-background-image: url("../images/homeHoverIcon.png");
}

.navigation-bar-builder {
    -fx-background-image: url("../images/builderIcon.png");
}

.navigation-bar-builder:hover, .navigation-bar-builder:selected {
    -fx-background-image: url("../images/builderHoverIcon.png");
}

.navigation-bar-randomizer {
    -fx-background-image: url("../images/logbookIcon.png");
}

.navigation-bar-randomizer:hover, .navigation-bar-randomizer:selected {
    -fx-background-image: url("../images/logbookHoverIcon.png");
}

.navigation-bar-home:hover, .navigation-bar-builder:hover, .navigation-bar-randomizer:hover {
    -fx-background-color: #38545A;
    -fx-background-radius: 4px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.navigation-bar-home:selected, .navigation-bar-builder:selected, .navigation-bar-randomizer:selected {
    -fx-background-color: #38545A;
    -fx-background-radius: 4px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

/* Randomizer Window */
.randomizer-window {
    -fx-pref-width: 704px;
    -fx-pref-height: 536px;
    -fx-background-color: #050E10;
}
/* Home View */
.home-view {
    -fx-min-width: 688px;
    -fx-min-height: 488px;
    -fx-alignment: center;
}

.home-view-title {
    -fx-alignment: center;
    -fx-font-size: 56px;
    -fx-font-family: SansSerif;
    -fx-text-fill: transparent;
    -fx-font-weight: 600;
}

.home-view-title .text {
    -fx-stroke: #273D41;
    -fx-stroke-width: 2px;
}

.home-view-socials-container {
    -fx-padding: 24px;
    -fx-spacing: 24px;
    -fx-alignment: center;
}

.home-view-github, .home-view-discord {
    -fx-font-family: SansSerif;
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: #738487;
    -fx-padding: -2px 3px 0px 21px;
    -fx-background-repeat: no-repeat;
}

.home-view-github {
    -fx-background-image: url("../images/githubIcon.png");
    -fx-background-size: 16px;
}

.home-view-discord {
    -fx-background-image: url("../images/discordIcon.png");
    -fx-background-size: 18px;
}

.home-view-github:hover {
    -fx-text-fill: #C444C3;
    -fx-background-image: url("../images/githubHoverIcon.png");
}

.home-view-discord:hover {
    -fx-text-fill: #C444C3;
    -fx-background-image: url("../images/discordHoverIcon.png");
}

.home-view-github:pressed, .home-view-discord:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

/* Randomizer View */
.randomizer-view {
    -fx-min-width: 688px;
    -fx-min-height: 488px;
    -fx-padding: 8px;
}

.randomizer-logbook {
    -fx-min-width: 420px;
    -fx-min-height: 350px;
    -fx-background-radius: 8px;
    -fx-background-color: #0C171A;
    -fx-effect: dropshadow(three-pass-box, #C444C3, 15, 0.0, 0, 0);
}

.logbook-active-sequence {
    -fx-pref-width: 420px;
    -fx-pref-height: 20px;
    -fx-alignment: center-left;
    -fx-padding: 8px;
}

.logbook-sequence-name {
    -fx-font-family: SansSerif;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-text-fill: #C444C3;
}

.logbook-active-actions {
    -fx-pref-width: 398px;
    -fx-pref-height: 322px;
    -fx-spacing: 6px;
    -fx-padding: 0px 0px 8px 8px;
}

.logbook-sequence-actions-name {
    -fx-font-family: SansSerif;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-text-fill: #DAF0F3;
    -fx-padding: 0px 3px 0px 15px;
    -fx-background-radius: 4px;
    -fx-background-color: #213539;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16px;
}

.logbook-sequence-actions-name:hover {
    -fx-text-fill: #C444C3;
}

.logbook-sequence-actions-name-start {
    -fx-background-image: url("../images/startActionIcon.png");
}

.logbook-sequence-actions-name-start-active {
    -fx-background-image: url("../images/startActionActiveIcon.png");
}

.logbook-sequence-actions-name-middle {
    -fx-background-image: url("../images/middleActionIcon.png");
}

.logbook-sequence-actions-name-middle-active {
    -fx-background-image: url("../images/middleActionActiveIcon.png");
}

.logbook-sequence-actions-name-end {
    -fx-background-image: url("../images/endActionIcon.png");
}

.logbook-sequence-actions-name-end-active {
    -fx-background-image: url("../images/endActionActiveIcon.png");
}

.logbook-button-vbox {
    -fx-pref-width: 28px;
    -fx-pref-height: 398px;
    -fx-alignment: center;
}

.logbook-buttons {
    -fx-max-width: 28px;
    -fx-max-height: 56px;
    -fx-background-radius: 4px 0px 0px 4px;
    -fx-padding: 6px;
    -fx-spacing: 8px;
    -fx-alignment: center;
    -fx-background-color: #0C171A;
    -fx-effect: innershadow(three-pass-box, #C444C3, 10, 0.0, 0, 0);
}

.logbook-run-button, .logbook-stop-button, .logbook-awaiting-button {
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 32px 32px;
}

.logbook-run-button {
    -fx-background-image: url("../images/playIcon.png");
}

.logbook-awaiting-button {
    -fx-background-image: url("../images/awaitingIcon.png");
}

.logbook-stop-button {
    -fx-background-image: url("../images/stopIcon.png");
}

.logbook-run-button:hover, .logbook-stop-button:hover, .logbook-awaiting-button:hover {
    -fx-background-color: #213539;
}

.logbook-run-button:pressed, .logbook-stop-button:pressed, .logbook-awaiting-button:pressed {
    -fx-scale-y: 0.85;
    -fx-scale-x: 0.85;
}

.logbook-info {
    -fx-pref-width: 194px;
    -fx-padding: 0px 0px 0px 16px;
    -fx-spacing: 12px;
    -fx-alignment: center;
}

.logbook-sequence-interval {
    -fx-pref-height: 132px;
    -fx-background-radius: 4px;
    -fx-background-color: #0C171A;
    -fx-spacing: 6px;
    -fx-padding: 8px;
}

.logbook-sequence-interval-label, .logbook-history-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-weight: 600;
    -fx-text-fill: #DAF0F3;
}

.logbook-descriptions {
    -fx-min-height: 32px;
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: #738487;
}

.range-slider-sequence-interval {
    -fx-pref-width: 194px;
    -fx-pref-height: 24px;
    -fx-padding: 8px 0px;
}

.range-slider-sequence-interval .track {
    -fx-background-color: #4F747C;
    -fx-pref-height: 4px;
}

.range-slider-sequence-interval .range-bar {
    -fx-background-color: #92D0DD;
    -fx-pref-height: 4px;
}

.range-slider-sequence-interval .high-thumb, .range-slider-sequence-interval .low-thumb {
    -fx-background-color: #92D0DD;
    -fx-background-radius: 4px;
    -fx-pref-width: 8px;
    -fx-pref-height: 8px;
}

.range-slider-sequence-interval .high-thumb:hover, .range-slider-sequence-interval .low-thumb:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.logbook-sequence-history {
    -fx-background-radius: 4px;
    -fx-background-color: #0C171A;
    -fx-spacing: 6px;
    -fx-padding: 8px;
}

.logbook-history-scrollpane {
    -fx-background-color: #0C171A;
}

.logbook-history-content {
    -fx-pref-width: 134px;
    -fx-spacing: 6px;
    -fx-background-color: #0C171A;
}

.logbook-history-scrollpane .scroll-bar:vertical {
    -fx-pref-width: 8px;
    -fx-background-color: transparent;
}

.logbook-history-scrollpane .scroll-bar:vertical .track {
    -fx-background-color: #4F747C;
    -fx-background-radius: 4px;
}

.logbook-history-scrollpane .scroll-bar:vertical .thumb {
    -fx-background-color: #92D0DD;
    -fx-background-radius: 4px;
    -fx-pref-width: 8px;
}

.logbook-history-scrollpane .scroll-bar:vertical .increment-button,
.logbook-history-scrollpane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.logbook-history-entry-container {
    -fx-pref-width: 178px;
    -fx-max-height: 22px;
    -fx-padding: 4px;
    -fx-background-color: #142224;
}

.logbook-history-entry-name {
    -fx-pref-width: 138px;
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: #DAF0F3;
    -fx-padding: 4px;
}

.logbook-history-entry-rightbox {
    -fx-pref-width: 40px;
    -fx-spacing: 4px;
    -fx-alignment: center-right;
}

.logbook-history-entry-action-count, .logbook-history-entry-executed-at {
    -fx-alignment: bottom-right;
    -fx-font-family: SansSerif;
    -fx-font-size: 8px;
    -fx-font-weight: 500;
    -fx-text-fill: #738487;
}

/* Builder View*/
.builder-view, .builder {
    -fx-min-width: 688px;
    -fx-min-height: 488px;
    -fx-alignment: center;
    -fx-background-color: #050E10;
}

.builder {
    -fx-spacing: 24px;
    -fx-padding: 0px -10px 0px 0px;
}


/* Left Bar - Actions */
.builder-left-bar {
    -fx-pref-width: 140px;
    -fx-pref-height: 488;
    -fx-alignment: center;
    -fx-spacing: 8px;
}

.builder-actions {
    -fx-min-width: 140px;
    -fx-min-height: 240px;
    -fx-alignment: center;
    -fx-spacing: 6px;
    -fx-background-radius: 8px;
    -fx-background-color: #0C171A;
}

.builder-actions-top {
    -fx-pref-width: 140px;
    -fx-pref-height: 24px;
    -fx-alignment: center;
    -fx-spacing: 4px;
}

.builder-actions-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-text-alignment: center;
    -fx-text-fill: #DAF0F3;
    -fx-padding: 0px 4px;
}

.builder-actions-search {
    -fx-background-radius: 8px;
    -fx-padding: 4px;
    -fx-pref-width: 82px;
    -fx-pref-height: 16px;
}

.builder-actions-searchfield {
    -fx-pref-width: 82px;
    -fx-pref-height: 16px;
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-alignment: left;
    -fx-text-fill: #DAF0F3;
    -fx-background-color: #213539;
}

.builder-actions-scrollpane {
    -fx-pref-width: 140px;
    -fx-pref-height: 210px;
    -fx-alignment: center;
    -fx-background-radius: 8px;
    -fx-spacing: 4px;
    -fx-padding: 4px;
    -fx-background-color: #0C171A;
}

.builder-actions-categories {
    -fx-pref-width: 140px;
    -fx-spacing: 4px;
    -fx-alignment: top-center;
    -fx-background-color: #0C171A;
}

.builder-actions-category {
    -fx-text-fill: #DAF0F3;
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
}

.builder-actions-category > .title {
    -fx-background-color: #142224;
}

.builder-actions-category > .title > .arrow-button .arrow{
    -fx-background-color: #DAF0F3;
}

.builder-actions-title-vbox {
    -fx-spacing: 6px;
    -fx-background-color: #142224;
    -fx-padding: 3px 8px 6px 8px;
}

.builder-actions-title {
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-text-fill: #DAF0F3;
    -fx-padding: 0px 3px;
    -fx-background-radius: 4px;
    -fx-background-color: #213539;
    -fx-effect: dropshadow(three-pass-box, #0C171A, 1, 0.01, 0, -2);
}

.builder-actions-title:hover {
    -fx-text-fill: #C444C3;
}

.builder-actions-category > *.content {
    -fx-background-color: transparent;
    -fx-background-insets: 0px, 1px;
    -fx-border-color: #142224;
}

/* Left Bar - Sequences*/
.builder-sequences {
    -fx-min-width: 140px;
    -fx-min-height: 240px;
    -fx-alignment: center;
    -fx-spacing: 6px;
    -fx-background-radius: 8px;
    -fx-background-color: #0C171A;
}

.builder-sequences-top {
    -fx-pref-width: 140px;
    -fx-pref-height: 24px;
    -fx-alignment: center;
    -fx-spacing: 4px;
}

.builder-sequences-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-text-alignment: center;
    -fx-text-fill: #DAF0F3;
    -fx-padding: 0px 4px;
}

.builder-sequences-buttons {
    -fx-pref-width: 14px;
    -fx-pref-height: 34px;
    -fx-background-radius: 8px;
    -fx-alignment: center-right;
    -fx-spacing: 8px;
    -fx-padding: 4px 8px 0px 0px;
}

.builder-sequences-add-sequence-button, .builder-sequences-folder-button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.builder-sequences-folder-button {
    -fx-background-image: url("../images/folderIcon.png");
    -fx-background-size: 20px 20px;
}

.builder-sequences-folder-button:hover {
    -fx-background-image: url("../images/folderHoverIcon.png");
}

.builder-sequences-add-sequence-button {
    -fx-background-image: url("../images/addSequenceIcon.png");
    -fx-background-size: 18px 18px;
}

.builder-sequences-add-sequence-button:hover {
    -fx-background-image: url("../images/addSequenceHoverIcon.png");
}

.builder-sequences-scrollpane {
    -fx-pref-height: 210px;
    -fx-pref-width: 140px;
    -fx-alignment: center;
    -fx-background-radius: 8px;
    -fx-spacing: 4px;
    -fx-padding: 4px;
    -fx-background-color: #0C171A;
}

.builder-actions-sequences {
    -fx-pref-width: 140px;
    -fx-spacing: 4px;
    -fx-alignment: top-center;
    -fx-background-color: #0C171A;
}

.builder-sequences-hbox {
    -fx-spacing: 4px;
    -fx-alignment: center;
    -fx-padding: 4px;
    -fx-background-color: #142224;
    -fx-background-radius: 4px;
}

.builder-sequences-title {
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-text-fill: #DAF0F3;
}

.builder-sequences-hbox:hover {
    -fx-background-color: #38545A;
}

.builder-sequences-hbox:hover Label{
    -fx-text-fill: #C444C3;
}

.builder-sequences-delete-button {
    -fx-background-color: transparent;
    -fx-background-image: url("../images/deleteIcon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px 20px;
}

.builder-sequences-delete-button:hover {
    -fx-background-image: url("../images/deleteHoverIcon.png");
}

/* Sequence Builder */
.sequence-builder {
    -fx-min-width: 360px;
    -fx-min-height: 300px;
    -fx-padding: 94px 0px;
    -fx-effect: dropshadow(three-pass-box, #C444C3, 15, 0.0, 0, 0);
}

.sequence-naming {
    -fx-pref-height: 46px;
    -fx-spacing: 4px;
    -fx-padding: 8px;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-alignment: center-left;
    -fx-background-color: #0C171A;
}

.sequence-name-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-weight: 600;
    -fx-text-fill: #DAF0F3;
}

.sequence-description-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: #738487;
}

.sequence-builder-buttons-vbox {
    -fx-pref-height: 300px;
    -fx-pref-width: 48px;
    -fx-background-radius: 0px 0px 8px 0px;
    -fx-alignment: center-right;
    -fx-background-color: #0C171A;
}

.sequence-builder-buttons {
    -fx-max-width: 36px;
    -fx-pref-height: 96px;
    -fx-background-radius: 4px 0px 0px 4px;
    -fx-padding: 0px 6px;
    -fx-spacing: 4px;
    -fx-alignment: center;
    -fx-background-color: #0C171A;
    -fx-effect: innershadow(three-pass-box, #C444C3, 10, 0.0, 0, 0);
}

.builder-randomize-button, .builder-actions-clear-button, .builder-save-sequence-button {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 24px 24px;
}

.builder-randomize-button {
    -fx-background-image: url("../images/shuffleIcon.png");
}

.builder-randomize-button:hover {
    -fx-background-image: url("../images/shuffleHoverIcon.png");
}

.builder-actions-clear-button {
    -fx-background-image: url("../images/deleteIcon.png");
}

.builder-actions-clear-button:hover {
    -fx-background-image: url("../images/deleteHoverIcon.png");
}

.builder-save-sequence-button {
    -fx-background-image: url("../images/saveIcon.png");
}

.builder-save-sequence-button:hover {
    -fx-background-image: url("../images/saveHoverIcon.png");
}

.builder-selected-actions-scrollpane {
    -fx-pref-width: 312px;
    -fx-pref-height: 272px;
    -fx-background-radius: 0px 0px 0px 8px;
    -fx-padding: 0px 0px 8px 4px;
    -fx-background-color: #0C171A;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical {
    -fx-pref-width: 8px;
    -fx-background-color: transparent;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .track {
    -fx-background-color: #4F747C;
    -fx-background-radius: 4px;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .thumb {
    -fx-background-color: #92D0DD;
    -fx-background-radius: 4px;
    -fx-pref-width: 8px;
}

.builder-selected-actions-scrollpane .scroll-bar:vertical .increment-button,
.builder-selected-actions-scrollpane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.builder-selected-actions-vbox {
    -fx-pref-width: 312px;
    -fx-pref-height: 272px;
    -fx-spacing: 6px;
    -fx-padding: 2px 0px 8px 8px;
    -fx-background-color: #0C171A;
}

.builder-actions-scrollpane:focused, .builder-sequences-scrollpane:focused, .builder-selected-actions-scrollpane:focused {
    -fx-background-insets: 0px, 1px;
    -fx-focus-traversable: false;
    -fx-focus-color: transparent;
}

/* Action - Title - Description - Settings */
.builder-settings {
    -fx-min-width: 140px;
    -fx-pref-height: 488px;
    -fx-alignment: top-left;
    -fx-background-radius: 8px;
    -fx-background-color: #0C171A;
}

.builder-settings-vbox {
    -fx-pref-width: 140px;
    -fx-pref-height: 488px;
    -fx-padding: 8px 0px;
    -fx-spacing: 4px;
}

.action-time-frame-vbox, .sequence-title-vbox{
    -fx-pref-width: 140px;
    -fx-spacing: 8px;
    -fx-padding: 4px 8px;
}

.settings-close-button {
    -fx-background-color: transparent;
    -fx-background-image: url("../images/closeSettingsIcon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px 20px;
}

.settings-close-button:hover {
    -fx-background-image: url("../images/closeSettingsHoverIcon.png");
}

.action-in-focus-label, .sequence-in-focus-label, .description-in-focus-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 600;
    -fx-text-alignment: center;
    -fx-text-fill: #DAF0F3;
    -fx-padding: 0px 8px;
}

.time-frame-label {
    -fx-text-fill: #DAF0F3;
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 600;
}

.range-slider-action-interval {
    -fx-pref-width: 124px;
    -fx-pref-height: 24px;
    -fx-padding: 8px 0px;
}

.range-slider-action-interval .track {
    -fx-background-color: #4F747C;
    -fx-pref-height: 4px;
}

.range-slider-action-interval .range-bar {
    -fx-background-color: #92D0DD;
    -fx-pref-height: 4px;
}

.range-slider-action-interval .high-thumb, .range-slider-action-interval .low-thumb {
    -fx-background-color: #92D0DD;
    -fx-background-radius: 4px;
    -fx-pref-width: 8px;
    -fx-pref-height: 8px;
}

.range-slider-action-interval .high-thumb:hover, .range-slider-action-interval .low-thumb:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.settings-description {
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: #738487;
}

.minimum-label-hbox, .maximum-label-hbox {
    -fx-pref-width: 124px;
    -fx-pref-height: 12px;
    -fx-spacing: 4px;
    -fx-padding: 8px 0px 0px 0px;
    -fx-alignment: center-left;
}

.minimum-value-label, .minimum-slider-label, .maximum-value-label, .maximum-slider-label {
    -fx-font-family: SansSerif;
    -fx-font-size: 10px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-fill: #DAF0F3;
}

.title-settings-textfield, .settings-description-textarea {
    -fx-max-width: 124px;
    -fx-pref-height: 16px;
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-text-alignment: left;
    -fx-text-fill: #DAF0F3;
    -fx-background-color: #213539;
}

.settings-description-textarea {
    -fx-max-width: 124px;
    -fx-pref-height: 124px;
}

.settings-description-textarea .content{
    -fx-background-color: #213539;
    -fx-background-radius: 0px;
    -fx-padding: 3px 6px;
}

.settings-description-textarea .scroll-bar:vertical {
    -fx-pref-width: 8px;
    -fx-background-color: transparent;
}

.settings-description-textarea .scroll-bar:vertical .track {
    -fx-background-color: #4F747C;
    -fx-background-radius: 4px;
}

.settings-description-textarea .scroll-bar:vertical .thumb {
    -fx-background-color: #92D0DD;
    -fx-background-radius: 4px;
    -fx-pref-width: 8px;
}

.settings-description-textarea .scroll-bar:vertical .increment-button,
.settings-description-textarea .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-shape: null;
    -fx-opacity: 0;
}

.settings-apply-vbox {
    -fx-pref-width: 124px;
    -fx-pref-height: 24px;
    -fx-alignment: center-right;
}

.settings-apply-button {
    -fx-pref-width: 72px;
    -fx-pref-height: 24px;
    -fx-text-fill: #DAF0F3;
    -fx-font-family: SansSerif;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 500;
    -fx-background-color: #52287E;
}

.settings-apply-button:hover {
    -fx-background-color: #6942A3;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 1);
}

.settings-apply-button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

/* Separator and Lines for BuilderView */
.builder-separator, .builder-separator .line {
    -fx-pref-width: 140px;
    -fx-pref-height: 2px;
    -fx-background-color: #52287E;
    -fx-border-color: null;
}